{% extends 'default/master.html' %}

{% block body %}


<div class="row">
	<div class="col">
		<div class="row">
			<div class="col-2"></div>
			
      <div class="col-4">
        <div class="jumbotron">
          <h1 class="display-4">Quiz games</h1>
          <p class="lead">Quiz games</p>
          <hr class="my-4">
          <p>Welcome to quiz app</p>
          <p class="lead">
            <a href="/game" class="btn btn-primary btn-lg" href="#" role="button">Start game</a>
          </p>
        </div>
      </div>
		</div>
	</div>
</div>
{% endblock %}
